#contact {
  color: var(--primary-text-color);
}

#contact .img-wrapper {
  position: relative;
}

#contact .img-wrapper::after {
  position: absolute;
  content: "";
  top: 90%;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: -1;
  background-color: rgba(8, 23, 46, 0.308);
}

#contact form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

@media (min-width: 576px) {
  #contact form {
    font-size: 1.4rem;
  }
}

/* @media (max-width: 991px) {
  #contact .contact__left_up {
    border-block-end: 2px solid var(--primary-text-color);
  }
} */

#contact form .group {
  display: flex;
  flex-direction: column;
}

#contact form .group input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: var(--secondary-bg-color);
  backdrop-filter: opacity(20%);
  color: inherit;
  -webkit-backdrop-filter: opacity(20%);
  border: transparent;
}

#contact form .group input:focus,
textarea:focus {
  background-color: var(--focus-bg);
}

#contact form button {
  margin-inline-end: auto;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-weight: 300;
  font-weight: 500;
  border: transparent;
  transition: all 500ms;
  color: #8a919c;
  background-color: var(--secondary-bg-color);
}

#contact form button:hover {
  background-color: var(--primary-text-color);
  color: var(--secondary-bg-color) !important;
}

#contact form button:focus,
#contact form button:focus-visible {
  outline: transparent;
  background-color: var(--focus-bg);
  color: var(--primary-text-color);
}

#contact form .group.hidden {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1000ms;
}

#contact form .group.show {
  opacity: 1;
  transform: translateX(0%);
}

#contact form .group:nth-of-type(2) {
  transition-delay: 100ms;
}

#contact form .group:nth-of-type(3) {
  transition-delay: 200ms;
}

#contact form .group:nth-of-type(4) {
  transition-delay: 300ms;
}

#contact .contact__left_up.hidden {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(10px);
  transition: all 1000ms;
  transition-delay: 300ms;
}

#contact .contact__left_up.show {
  opacity: 1;
  transform: translateX(0%);
  filter: blur(0px);
}
