#contact {
  color: var(--secondary-bg-color);
  margin-block: 3rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  row-gap: 1rem;
  border-inline-start: 2px solid var(--secondary-bg-color);
}

#contact form .group {
  display: flex;
  flex-direction: column;
}

#contact form .group label {
  font-size: 1.4rem;
}

#contact form .group input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  background-color: #152c48;
  backdrop-filter: opacity(20%);
  color: inherit;
  -webkit-backdrop-filter: opacity(20%);
  border: transparent;
}

#contact form button {
  margin-inline-end: auto;
  padding: 0.15rem 01rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  font-weight: 300;
  font-weight: 500;
  border: 2px solid var(--secondary-bg-color);
  transition: all 500ms;
  color: inherit;
  background-color: var(--primary-bg-color);
}

#contact form button:hover {
  background-color: var(--secondary-bg-color);
  color: var(--primary-bg-color) !important;
}
