.navbar {
  color: var(--primary-text-color);
  font-size: 1.2rem;
  min-height: 60px;
  background-color: var(--secondary-bg-color);
  transition: all 500ms ease;
  position: absolute !important;
  width: 100%;
}

#custom-nav {
  width: 100%;
  z-index: 2000;
}

.navbar.hideNav {
  transform: translateY(-100%);
}

.navbar .navbar-brand {
  font-size: 2rem;
  font-weight: 700;
}

.navbar .navbar-brand:focus {
  outline: none;
}

.navbar .navbar-nav {
  background-color: inherit;
}

.navbar .navbar-nav .nav-link {
  margin-inline: auto;
  border-radius: 0.3rem;
}

.navbar .navbar-nav .nav-link:focus {
  outline: transparent;
  background-color: var(--focus-bg);
}

.navbar .navbar-toggler {
  border: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3rem;
}

.navbar .navbar-toggler .icon-line {
  display: block;
  height: 2px;
  background-color: var(--primary-text-color);
  width: 26px;
  border-radius: 2px;
  transition: all 300ms;
}

.navbar .navbar-toggler .icon-line:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.navbar .navbar-toggler .icon-line:nth-of-type(2) {
  opacity: 0;
}

.navbar .navbar-toggler .icon-line:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

.navbar .navbar-toggler.collapsed .icon-line:nth-of-type(1) {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.navbar .navbar-toggler.collapsed .icon-line:nth-of-type(2) {
  opacity: 1;
}

.navbar .navbar-toggler.collapsed .icon-line:nth-of-type(3) {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
